@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

:root {
    @apply bg-[url(/background.webp)] bg-no-repeat bg-cover;
}

.font-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
}

.font-add-italic {
    font-style: italic;
}

.font-light {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
}

.btn-base {
    @apply p-2 rounded-lg px-4 py-2 duration-200 ease-in-out shadow-xl;
}
